@media only screen and (min-width: 1599px) {
    .container {
        max-width: 1470px;
    }

}

@media only screen and (max-width: 1799px) {

    .Offer_wrapper .Offer_slider .Slick-Next {
        right: -40px;
    }

    .Offer_wrapper .Offer_slider .Slick-Prev {
        left: -50px;
        right: auto;
    }
}

@media only screen and (max-width: 1599px) {
    body {
        font-size: 16px;
        line-height: 25px;
    }

    h1 {
        font-size: 70px;
        line-height: 96px;
    }

    h2 {
        font-size: 55px;
        line-height: 1.2;
    }

    h3 {
        font-size: 34px;
        line-height: 1.2;
    }

    h5 {
        font-size: 23px;
    }

    .p_130 {
        padding: 100px 0px;
    }

    .pt_130 {
        padding-top: 100px;
    }

    .pb_130 {
        padding-bottom: 100px;
    }

    .serve_content .serve_grid {
        gap: 80px;
    }

    .serve_content .serve_grid .serve_list img.img-fluid {
        margin-bottom: 30px;
    }

    .serve_wrapper .serve_content {
        padding: 50px;
    }

    .Offer_wrapper .Offer_list {
        margin: 0 40px;
    }

    .del-box h3 {
        max-width: 680px;
    }

    .del-box {
        padding: 75px;
    }

    .faq-breadcrumbs {
        margin: 45px 0px 30px;
    }

    .app_store {
        padding: 35px;
    }

}


@media only screen and (max-width: 1399px) {
    h1 {
        font-size: 50px;
        line-height: 1.5;
    }

    .banner_wrapper .banner_content {
        padding: 80px 0px;
    }

    .Offer_wrapper .Offer_slider .slick-arrow {
        left: 0px;
        right: auto;
    }

    .Offer_wrapper .Offer_slider .Slick-Next {
        right: 0px;
        left: auto;
    }

    h3 {
        font-size: 28px;
    }

    h2 {
        font-size: 48px;
    }

    .site_footer .cal_us_box {
        padding: 70px 70px 0px;
    }

    .serve_content .serve_grid .serve_list a {
        font-size: 24px;
    }

    .cta {
        padding: 16px 48px;
        font-size: 16px;
    }

    .contact-info i {
        width: 50px;
        height: 50px;
    }

    .contact-info li a {
        font-size: 20px;
        line-height: 1.5;
    }

    .video-btn {
        width: 70px;
        height: 70px;
    }
    .team-img img {
        width: 240px;
        height: 240px;
    }
}

@media only screen and (max-width:1199px) {
    .serve_wrapper .serve_content {
        padding: 30px;
    }

    h2 {
        font-size: 36px;
    }

    .serve_content .serve_grid .serve_list a {
        font-size: 20px;
    }

    .serve_text p {
        margin-bottom: 0px;
    }

    .mb-256 {
        margin-bottom: 190px;
    }

    .call_btn_wrapper {
        padding-top: 35px;
    }

    .menu-footer {
        margin-top: -90px;
    }

    body {
        font-size: 14px;
    }

    h3 {
        font-size: 26px;
    }

    .Offer_wrapper .Offer_slider .slick-arrow {
        width: 50px;
        height: 50px;
    }

    .site_footer h6 {
        font-size: 16px;
    }

    .banner_wrapper .banner_content {
        padding: 50px 0px;
    }

    .transperncy-sec.p_130 {
        padding-bottom: 280px;
    }

    .del-box h3 {
        max-width: 560px;
    }

    .del-box {
        padding: 70px;
    }

    .contact-form .form-control {
        padding: 12px 12px;
    }

    .login-form .form-control {
        padding: 12px 20px;
        font-size: 14px;
    }

    .login-btns {
        padding-top: 20px;
    }
    .blog-text {
        padding: 25px;
    }
    
    .blog-text h5 {
        font-size: 20px;
    }
    
}

@media (max-width:991px) {
    h1 {
        font-size: 46px;
    }

    .serve_content .serve_grid {
        gap: 50px;
    }

    .p_130 {
        padding: 80px 0px;
    }

    h2 {
        font-size: 32px;
    }

    .pb_130 {
        padding-bottom: 80px;
    }

    .pt_130 {
        padding-top: 80px;
    }

    .cta {
        padding: 13px 38px;
    }

    .site_footer .cal_us_box {
        padding: 40px 40px 0px;
    }

    .call_btn_wrapper {
        padding-top: 28px;
    }

    .call_btn_wrapper .cta:first-child {
        margin-right: 14px;
    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 99;
        padding: 20px;
    }

    .header_wrapper nav.navbar .navbar-nav li:not(:first-child) {
        padding-left: 0px;
    }

    .header_wrapper nav.navbar .navbar-nav li a.nav-link {
        padding-bottom: 15px;
    }

    .bars {
        width: 24px;
        background: #000;
        height: 3px;
        margin: 4px 0px;
        border-radius: 30px;
    }

    .navbar-toggler {
        border: none;
    }

    .menu_row>div:not(:last-child) {
        margin-bottom: 30px;
    }

    .mb-256 {
        margin-bottom: 160px;
    }

    .del-box {
        padding: 50px;
        background-size: 100%;
    }

    .del-box h3 {
        max-width: 400px;
    }

    .maintain-box {
        padding: 25px;
    }

    .maintanance-text h5 {
        margin-bottom: 20px;
    }

    .contact-form .form-control {
        padding: 10px 12px;
        font-size: 12px;
    }

    .contact-info li a {
        font-size: 18px;
    }

    .contact-form .form-control {
        padding: 7px 12px;
        font-size: 12px;
    }

    .contact-info span {
        padding-right: 15px;
    }

    .app_img img {
        width: 100%;
        max-width: 200px;
    }

    .video-btn {
        width: 50px;
        height: 50px;
    }

    .video-btn i {
        font-size: 16px;
    }
    .blog-text {
        padding: 15px;
    }
    
    .blog-text h5 {
        font-size: 14px;
    }
    
    .blog-text h5 {
        margin: 10px 0px 10px;
    }
    
    .blog-text > span {
        font-size: 12px;
    }
    .header_wrapper nav.navbar .navbar-nav li a.nav-link:hover::after {
        width: 0px;
    }
    .drop-menu {
        position: static;
        width: 100%;
        visibility: visible;
        opacity: 0;
        display: none;
        transition: none;
    }
    .header_wrapper nav.navbar form {
        margin-top: 30px;
    }
    .navbar-toggler.open .bars{
        margin: -3px 0px;
    }
    .navbar-toggler.open .bars.bar1{
        transform: rotate(45deg);
    }
    .navbar-toggler.open .bars.bar2{
        opacity: 0;
    }
    .navbar-toggler.open .bars.bar3{
        transform: rotate(-45deg);
    }
    .navbar-toggler{
        border: none;
    }
    .navbar-toggler:focus{
        outline: none;
    }
    .header_wrapper nav.navbar {
        position: static;
    }
    
    .header_wrapper {
        position: relative;
    }
    .head-col{
        position: static;
    }
    .team-img img {
        width: 200px;
        height: 200px;
    }
}

@media (max-width:767px) {
    .deliver_wrapper .offset-lg-1 {
        margin-top: 30px;
    }

    .mid-footer .row>div:not(:last-child) {
        margin-bottom: 30px;
    }

    h1 {
        font-size: 42px;
    }

    .serve_wrapper .serve_content {
        padding: 20px;
    }

    .serve_content .serve_grid {
        gap: 30px;
    }

    .carrier_wrapper .row>div:not(:last-child) {
        margin-bottom: 30px;
    }

    h2 {
        font-size: 28px;
    }

    .dm-n {
        display: none !important;
    }

    .menu-footer {
        margin-top: -40px;
    }

    .main-banner .row>div:last-child {
        margin-top: 30px;
    }

    .mb-256 {
        margin-bottom: 130px;
    }

    .transperncy-sec .row>div:last-child {
        margin-top: 30px;
    }

    .del-box h3 {
        font-size: 20px;
        max-width: 300px;
    }

    .del-box {
        padding: 40px;
    }

    .advantage-sec .row>div:last-child {
        margin-top: 30px;
    }

    .contact-us_sec .row>div:last-child {
        margin-top: 30px;
    }

    .contact-form .form-row div:last-child {
        margin-top: 1rem;
    }

    .nav-tabs .nav-item {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .nav-tabs .nav-link {
        width: 100%;
        text-align: center;
    }

    .nav-tabs {
        justify-content: center;
    }

    .nav-tabs li {
        width: 100%;
    }

    .carrier_app_sec .row>div:not(:last-child) {
        margin-bottom: 30px;
    }

    .app-guid .row>div {
        margin-bottom: 30px;
    }

    .reg-head {
        padding-bottom: 30px;
    }

    .reg-sec .row>div:first-child {
        margin-bottom: 30px;
    }

    .track-head {
        padding-bottom: 20px;
    }

    .loc-text {
        padding-top: 35px;
    }

    .signup_step .form-row>div:last-child {
        margin-top: 1rem;
    }
    .login-sec .row > div:last-child {
        margin-top: 30px;
    }
}

@media (max-width:575px) {
    .serve_content .serve_grid {
        grid-template-columns: repeat(1, 1fr);
    }

    h1 {
        font-size: 35px;
        line-height: 1.2;
    }

    .play-img img {
        width: 100%;
    }

    .call_btn_wrapper .cta:first-child {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .call_btn_wrapper .cta {
        width: 100%;
        text-align: center;
    }

    .call_btn_wrapper {
        padding-top: 20px;
    }

    .pt_130 {
        padding-top: 50px;
    }

    .banner_wrapper .banner_content p {
        font-size: 12px;
    }

    .p_130 {
        padding: 50px 0px;
    }

    .banner_wrapper .background-line {
        height: 60px;
    }

    .bus_wreap {
        bottom: 24px;
    }

    .menu-footer {
        margin-top: -110px;
    }

    .deliver_img::after {
        right: 0;
    }

    .mb-256 {
        margin-bottom: 180px;
    }

    .site_footer .cal_us_box {
        padding: 30px 30px 0px;
    }

    .call-col {
        padding-bottom: 30px;
    }

    .del-box {
        padding: 35px;
    }

    .del-box h3 {
        font-size: 16px;
        max-width: 200px;
    }

    .transperncy-sec.p_130 {
        padding-bottom: 240px;
    }

    .trans-list li {
        color: #fff;
        list-style: inside;
    }

    .nav-tabs .nav-item {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .nav-tabs .nav-link {
        width: 100%;
        text-align: center;
    }

    .nav-tabs {
        justify-content: center;
    }

    .nav-tabs li {
        width: 100%;
    }

    .faq-breadcrumbs {
        margin: 30px 0px 45px;
    }

    .faq-head {
        padding-bottom: 40px;
    }

    .nav-tabs .nav-link {
        padding: 15px;
    }

    .accordion__header {
        padding: 15px;
    }

    .accordion__header h5 {
        font-size: 18px;
    }

    .faq-breadcrumbs .breadcrumb-item i {
        width: 40px;
        height: 40px;
    }

    .faq-breadcrumbs .breadcrumb {
        padding: 0px;
    }

    .faq-breadcrumbs .breadcrumb-item a {
        font-size: 14px;
    }

    .btns_warpper {
        padding: 10px 0px;
    }

    .btns_warpper a {
        font-size: 18px;
    }

    .video-btn {
        width: 35px;
        height: 35px;
    }

    .video-btn i {
        font-size: 12px;
    }

    .track-head {
        padding-bottom: 20px;
    }

    .track-head {
        padding-bottom: 20px;
    }

    .loc-text {
        padding-top: 35px;
    }

    .status-sec .row div:last-child {
        margin-top: 30px;
    }

    .signup_step .form-control {
        padding: 14px 15px;
        font-size: 14px;
    }

    .steps-nav .step-numb {
        width: 50px;
        height: 50px;
        font-size: 14px;
    }

    .steps-nav ul li:after {
        top: 26px;
    }
    .team-head {
        padding-bottom: 30px;
    }
}