html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Gibson';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    color: #070742;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Filson Pro';
    font-style: normal;
    font-weight: 400;
    color: #211D1D;
}

h1 {
    font-size: 80px;
    line-height: 96px;
}

h2 {
    font-size: 60px;
    line-height: 72px;

}

h3 {
    font-size: 40px;
    line-height: 50px;
}


h5 {
    font-size: 26px;
    line-height: 31px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    transition: all 0.3s ease-in-out;
}

.btn-link:hover,
a:hover {
    text-decoration: none;
}

.p_130 {
    padding: 130px 0;
}

.pt_130 {
    padding-top: 130px;
}

.pb_130 {
    padding-bottom: 130px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: unset;
}

/*button start here */

.btn:focus {
    box-shadow: none;
}

.page-link:focus {
    box-shadow: none;
}

/*button end here */

/*=========== Home page start here ==========*/
.header_wrapper nav.navbar {
    padding: 20px 0 0;
}


.header_wrapper nav.navbar .navbar-nav li:not(:first-child) {
    padding-left: 24px;
}

.header_wrapper nav.navbar .navbar-nav li a.nav-link {
    padding: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    position: relative;
    color: #070742;
}

.header_wrapper nav.navbar .navbar-nav li a.nav-link:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all .3s linear;
    background: #6F89F0;
}

.header_wrapper nav.navbar .navbar-nav li a.nav-link:hover::after {
    width: 100%;
}

.header_wrapper nav.navbar form .btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 1px solid #D9D9D9;
    border-radius: 110px;
    width: 120px;
    padding: 0;
    height: 45px;
}

.header_wrapper nav.navbar form {
    gap: 10px;
}

.header_wrapper nav.navbar form button.btn.btn-primary {
    background-color: #102079;
    border-color: transparent;
}

.header_wrapper nav.navbar form button.btn.btn-primary:hover {
    background-color: #fff;
    color: #102079;
    border-color: #102079;
}

.header_wrapper nav.navbar form button.btn.btn-light:hover {
    background-color: #102079;
    color: #fff;
}

.header_wrapper nav.navbar form button.btn.btn-light {
    background-color: #fff;
    color: #211D1D;
}

.banner_wrapper .banner_content {
    padding: 100px 0;
}

.banner_wrapper {
    overflow: hidden;
}

.banner_wrapper .background-clouds {
    margin: 1px;
    background-image: url(../img/cloud.png);
    animation: clouds 60s linear infinite;
    animation-fill-mode: both;
    position: absolute;
    height: 50px;
    width: 100%;
    opacity: 0.7;
    background-position: center;
    background-size: contain;
    z-index: -1;
}

.banner_wrapper .banner_img {
    position: relative;
}

.banner_wrapper .background-line {
    margin: 1px;
    background-image: url(../img/line-1.png);
    animation: line 20s linear infinite;
    animation-fill-mode: both;
    position: absolute;
    height: 100px;
    width: 100%;
    background-position: center;
    bottom: 0;
    z-index: 1;
}

.bus_wreap {
    position: absolute;
    bottom: 40px;
    z-index: 9;
    max-width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

@keyframes clouds {
    from {
        background-position: -100%;
    }

    to {
        background-position: 100%;
    }
}

@keyframes line {
    from {
        background-position: 100%;
    }

    to {
        background-position: -100%;
    }
}

.serve_content .serve_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 150px;
    margin-top: 40px;
}

.serve_content .serve_grid .serve_list {
    text-align: center;
}

.serve_content .serve_grid .serve_list a {
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    color: #6F89F0;
}

.serve_content .serve_grid .serve_list img.img-fluid {
    margin-bottom: 40px;
}

.serve_wrapper .serve_content {
    background-color: #FFFFFF;
    box-shadow: 0px 44px 74px rgba(111, 137, 240, 0.11);
    border-radius: 25px;
    padding: 70px;
}

.serve_wrapper {
    position: relative;
}

.serve_wrapper::after {
    position: absolute;
    content: '';
    top: 0;
    width: 100%;
    height: 50%;
    background-color: #CED7FA;
    z-index: -1;
}

.deliver_wrapper .deliver_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.deliver_wrapper .deliver_content p {
    margin-bottom: 50px;
}

.cta {
    font-family: 'Gibson';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    display: inline-block;
    background-color: #102079;
    padding: 20px 55px;
    border: 1px solid #102079;
    border-radius: 110px;
}

.cta.cta-light {
    background: #f5f5f5;
    border: 1px solid rgba(217, 217, 217, 1);
    color: #000;
}

.cta:hover {
    background-color: #fff;
    color: #102079;
}

.deliver_img {
    position: relative;
    border-radius: 100%;
}

.deliver_img::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(239, 62, 55, 0.05);
    top: -20px;
    right: -20px;
    border-radius: 100%;
    z-index: -1;
}

.Offer_wrapper {
    background-color: #0F1838;
    color: #fff;
}

.Offer_wrapper .serve_content h1 {
    color: #fff;
}

.Offer_wrapper .Offer_list .serve_text h3 {
    color: #fff;
}

.Offer_wrapper .Offer_list .serve_text {
    text-align: center;
}

.Offer_wrapper .Offer_slider .slick-arrow {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F1838;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    cursor: pointer;
}

.back-btn {
    margin-right: 10px;
}

.Offer_wrapper .Offer_slider .Slick-Next,
.Offer_wrapper .Offer_slider .Slick-Prev {
    top: 45%;
    left: -130px;
    position: absolute;
}

.Offer_wrapper .Offer_slider .Slick-Next {
    right: -130px;
    left: auto;
}

.Offer_wrapper .Offer_list {
    margin: 0 70px;
}

.Offer_wrapper .serve_content .offer_hd p {
    margin-bottom: 60px;
}

.Offer_wrapper .Offer_list img.img-fluid {
    margin: 0 auto 10px;
}

.carrier_wrapper .carrier_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 
.carrier_wrapper .carrier_content p {
    font-weight: 400;
} */

.carrier_wrapper .carrier_content ul {
    padding-left: 20px;
    margin: 0 0 40px;
}

.carrier_wrapper .carrier_content ul li::marker {
    color: #6F89F0;
}

.carrier_wrapper .carrier_content ul li {
    font-size: 16px;
    line-height: 19px;
    padding: 5px 0;
}

.carrier_wrapper .carrier_img img {
    filter: drop-shadow(0px 45px 74px rgba(111, 137, 240, 0.11));
    border-radius: 25px;
}

.mb-256 {
    margin-bottom: 256px;
}

.site_footer {
    background-color: rgba(15, 24, 56, 1);
    color: #fff;
}

.site_footer .cal_us_box {
    background-color: #6F89F0;
    border-radius: 25px;
    padding: 90px 90px 0px;
    transform: translateY(-50%);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto;
}

.footer_menu {
    padding: 0px;
    list-style-type: none;
}

.footer_menu li a {
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
}

.site_footer h6 {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    position: relative;
    padding-bottom: 12px;
}

.site_footer h6:after {
    content: "";
    background: rgba(111, 137, 240, 1);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 52px;
    height: 2px;
}

.social-link {
    padding: 0px;
    list-style-type: none;
    display: flex;
    gap: 30px;
    padding-top: 23px;
}

.social-link li a i {
    width: 38px;
    height: 38px;
    background: #6F89F0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.footer-brand {
    padding-bottom: 20px;
    display: inline-block;
}

.ploicy-links {
    display: flex;
    justify-content: space-between;
}

.ploicy-links a {
    color: #fff;
}

.mid-footer h6:after {
    display: none;
}

.mid-footer {
    border-top: 1px solid #fff;
    padding: 55px 0px;
    margin-top: 40px;
}

.copy-write {
    padding: 30px 0px;
    background: #080F28;
}

.copy-write p {
    margin: 0px;
}

.cal_us_box h2 {
    color: #fff;
}

.call_btn_wrapper {
    padding-top: 60px;
}

.call_btn_wrapper .cta {
    display: inline-block;
}

.call_btn_wrapper .cta:first-child {
    background-color: #fff;
    color: rgba(111, 137, 240, 1);
    margin-right: 19px;
    border-color: #fff;
}

.call_btn_wrapper .cta:first-child:hover {
    background-color: #102079;
    color: #fff;
    border-color: #102079;
}

.call_btn_wrapper .cta:last-child {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
}

.call-col {
    padding-bottom: 50px;
}

.menu-footer {
    margin-top: -140px;
}

.call-img img {
    width: 100%;
}

.grade-sec {
    background-color: #6F89F0;
    color: #fff;
    text-align: center;
}

.grade-sec h2 {
    color: #fff;
}

.carrier_wrapper .row:nth-child(even) {
    flex-direction: row-reverse;
}

.transperncy-sec {
    background-color: #6F89F0;
}

.trans-text h2 {
    color: #fff;
}

.trans-text p {
    color: #fff;
}

.trans-list {
    padding: 0px;
}

.trans-list li {
    color: #fff;
}

.del-box {
    padding: 110px;
    background: #FFFFFF;
    box-shadow: 0px 44px 74px rgba(111, 137, 240, 0.11);
    border-radius: 25px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.del-box-sec {
    margin-top: -210px;
}

.transperncy-sec.p_130 {
    padding-bottom: 340px;
}

.del-box h3 {
    font-style: italic;
    width: 100%;
    max-width: 835px;
    margin: auto;
}

.tourque-sec {
    background: #6F89F0;
}

.tourque-sec h2 {
    color: #fff;
}

.tourque-text p {
    color: #fff;
}

.main_banner-text .cta {
    margin-top: 31px;
}

.tourque-text p:last-child {
    margin: 0px;
}

.contact-us p:last-child {
    margin: 0px;
}

.maintain-sec {
    background: #6F89F0;
}

.maintain-box {
    background-color: #fff;
    padding: 40px;
    text-align: center;
    transition: all .3s linear;
    height: 100%;
    transform: translateY(0);
}

.maintain-box:hover {
    transform: translateY(-30px);
}

.maintain-sec .row>div {
    margin-bottom: 60px;
}

.maintain-icon {
    text-align: center;
    padding-bottom: 30px;
}

.maintain-icon i {
    font-size: 50px;
}

.maintain-box p {
    margin: 0px;
}

.maintanance-text h5 {
    margin-bottom: 30px;
    color: #6F89F0;
}

.work-head {
    padding-bottom: 37px;
    color: #fff;
}

.work-head h2 {
    color: #fff;
}

.deliver-banner {
    padding: 100px 0px;
}

.deliver-text h2 {
    color: #fff;
    text-align: center;
}

.deliver-text p {
    color: #fff;
}

.deliver-text {
    text-align: center;
    width: 100%;
    max-width: 996px;
    margin: auto;
}

.carrier_wrapper.odd_row .row:nth-child(even) {
    flex-direction: row;
}

.carrier_wrapper.odd_row .row:nth-child(odd) {
    flex-direction: row-reverse;
}

.social-link a:hover i {
    transform: scale(1.1);
}

.social-link a i {
    transition: all .3s ease-in-out;
}

ul.tech-list li {
    color: #fff;
}

.advantage-sec {
    background: #6F89F0;
}

.advantage-text {
    color: #fff;
}

.advantage-text h2 {
    color: #fff;
}

.support-box {
    background: #FFFFFF;
    border-radius: 25px;
    padding: 55px;
    height: 100%;
}

.support-sec {
    background: #6F89F0;
}

.support-sec .row>div {
    margin-bottom: 30px;
}

.support-icon {
    width: 80px;
    height: 80px;
    background: #6F89F0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
}

.support-text {
    padding-top: 25px;
    text-align: center;
}

.support-text h5 {
    color: #6F89F0;
}

.support-head {
    text-align: center;
    max-width: 689px;
    margin: auto;
    padding-bottom: 36px;
    color: #fff;
}

.support-head h2 {
    color: #fff;
}

.contact-info ul {
    padding: 0px;
    list-style-type: none;
}

.contact-info i {
    width: 80px;
    height: 80px;
    background: #6F89F0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.contact-info span {
    display: inline-block;
    padding-right: 25px;
}

.contact-info li a {
    font-family: 'Gibson';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    color: #070742;
}

.contact-info li:not(:last-child) {
    margin-bottom: 30px;
}

.contact-head {
    padding-bottom: 25px;
}

.contact-form .form-control {
    border: 1px solid #D1D3D4;
    border-radius: 110px;
    padding: 17px 15px;
}

.contact-form textarea {
    border-radius: 30px !important;
}

.contact-info li {
    display: flex;
    align-items: center;
}

select.form-control:not([size]):not([multiple]) {
    height: 100%;
}

.faq-head {
    width: 100%;
    max-width: 868px;
    margin: auto;
    text-align: center;
    padding-bottom: 53px;
}

.breadcrumb {
    background: #fff;
}

.faq-breadcrumbs {
    margin: 50px 0px 67px;
}

.breadcrumb-item a {
    font-family: 'Gibson';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #070742;
}

.nav-tabs .nav-link {
    border: 1px solid #D9D9D9;
    border-radius: 110px;
    font-family: 'Gibson';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: right;
    color: #211D1D;
    display: inline-block;
    padding: 18px 66px;
    border-color: #D9D9D9 !important;
}

.nav-tabs {
    border-bottom: none;
    padding-bottom: 50px;
}

.nav-tabs .nav-item {
    margin-right: 20px;
}

.nav-tabs .nav-link.active {
    background: #6F89F0;
    color: #fff;
    border: 1px solid #6F89F0;
}

.accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.accordion-panel {
    background: #6f89f00d;
    border-radius: 10px;
}

.accordion-panel:not(:last-child) {
    margin-bottom: 30px;
}

.accordion__body {
    padding: 23px 30px 24px;
    display: none;
}

.accordion__button {
    width: 40px;
    min-width: 40px;
    height: 40px;
    background: #6F89F0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.accordion-panel.open .accordion__body {
    background: #fff;
}

.accordion-panel.open {
    border: 1px solid #E6E6E6;
}

li.breadcrumb-item i {
    width: 59px;
    height: 59px;
    background: #6F89F0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
}

.breadcrumb {
    align-items: center;
    margin: 0px;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    color: #070742;
}

.faq-breadcrumbs .breadcrumb-item i {
    width: 59px;
    height: 59px;
    background: #6F89F0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
}

.accordion__body {
    padding: 15px;
}

.app_store {
    background: #FFFFFF;
    box-shadow: 0px 44px 74px rgba(111, 137, 240, 0.11);
    border-radius: 25px;
    padding: 59px;
    text-align: center;
    height: 100%;
}

.app_store h5 {
    margin-bottom: 22px;
}

.carrier_app_head {
    text-align: center;
    padding-bottom: 25px;
}

.carrier_app_sec .row {
    padding-top: 30px;
}

.app_guid_head {
    margin-bottom: 39px;
}

.guide-text {
    padding-top: 48px;
    text-align: center;
}

.guide_img img {
    width: 100%;
}

.btns_warpper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btns_warpper a {
    font-family: 'Gibson';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: #939598;
}

.btns_warpper i {
    padding: 0px 10px;
}

.btns_warpper {
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    padding: 30px 0px;
    margin-top: 30px;
}

.reg-head h2 {
    width: 100%;
    max-width: 828px;
    margin-right: auto;
}

.reg-head {
    padding-bottom: 56px;
}

.reg-wrapper {
    display: flex;
    align-items: center;
}

.reg-wrapper:not(:last-child) {
    margin-bottom: 30px;
}

.reg-icon {
    padding-right: 19px;
}

.registration-img img {
    width: 100%;
}

.video-sec {
    position: relative;
}

.video-box {
    padding-top: 57%;
}

.video-box video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.video-btn {
    width: 100px;
    height: 100px;
    background: #6F89F0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-btn i {
    color: #fff;
    font-family: "fontAwesome";
    font-size: 24px;
}

.tut-head {
    padding-bottom: 52px;
    text-align: center;
}

.loc-box {
    text-align: center;
}

.loc-text {
    padding-top: 47px;
}

.turn-location {
    border-bottom: 1px solid #D1D3D4;
    padding-bottom: 45px;
}

.status-sec .row:nth-child(even) {
    flex-direction: row-reverse;
    padding-top: 60px;
}

.status-img img {
    width: 100%;
}

.track-head {
    text-align: center;
    padding-bottom: 72px;
}

.turn-location .row {
    padding-top: 42px;
}

.track-head {
    padding-bottom: 20px;
}

.signup-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding-top: 20px;
}

.signup-wrapper p {
    margin: 0px;
}

.steps-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    max-width: 699px;
    padding-left: 0px;
    margin: auto;
}

.steps-nav .step-numb {
    width: 70px;
    height: 70px;
    background: #fff;
    color: #A5A3A3;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    display: flex;
    margin: auto;
    border: 1px solid rgba(230, 230, 230, 1);
}

.step-text {
    text-align: center;
    display: block;
    padding-top: 12px;
    color: #A5A3A3;
}

.steps-nav ul li {
    position: relative;
    width: 50%;
}

.steps-nav ul li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #102079;
    top: 34px;
    left: 50%;
    z-index: -1;
    right: auto;
}

.steps-nav ul li:last-child:after {
    display: none;
}

.nav_item.active .step-numb {
    background: #102079;
    color: #fff;
}

/* .nav_item.active::after {
    background: #102079;
} */

.nav_item.active .step-text {
    color: #000;
}

.signup-step_wrapper {
    max-width: 815px;
    margin: auto;
}

.signup_step .form-control {
    border: 1px solid #D9D9D9;
    border-radius: 120px;
    padding: 17px 20px;
}

.p-detail {
    font-size: 16px;
    line-height: 1.5;
    display: inline-block;
    padding-top: 14px;
}

input[type="checkbox"] {
    position: absolute;
    width: 0;
    height: 0;
}

.custom-check {
    position: relative;
}

.custom-check input:checked~.check-box {
    background: #070742;
}

.custom-check input:checked~.check-box::after {
    display: block;
}

.check-box {
    width: 20px;
    height: 20px;
    border: 1px solid #D9D9D9;
    display: inline-block;
    vertical-align: middle;
    margin-right: 14px;
}

.check-box::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 6px;
    border: solid #fff;
    border-width: 0px 3px 3px 0px;
    display: none;
    width: 8px;
    height: 12px;
    transform: rotate(45deg);
}

.signup_step.hidden {
    display: none;
}

.steps-nav {
    padding-bottom: 52px;
}

.nav_item.step_visited .step-numb {
    background: #102079;
    color: #fff;
}

.back-btn {
    padding-right: 60px;
}

.login-form .form-control {
    border: 1px solid #D9D9D9;
    border-radius: 120px;
    padding: 17px 20px;
}

.login-text h2 {
    margin-bottom: 30px;
}

.log-wrapper {
    display: flex;
    justify-content: space-between;
}

.login-btns {
    padding-top: 38px;
}

.login-btns .cta.cta-light {
    margin-left: 20px;
}
#togglePassword {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.blog-box {
    position: relative;
    height: 100%;
    border: 1px solid #eeee;
    border-radius: 20px;
    overflow: hidden;
}

.blog-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: #fff;
    padding: 38px;
}

.blog-img img {
    width: 100%;
    transition: all .3s linear;
}
.blog_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 45px;
}
.blog-box:hover .blog-img img{
    transform: scale(1.03);
}
.blog-box:hover .blog-text {
    background-color: transparent;
    color: #fff;
    transition: all .3s linear;
}

.blog-box:hover .blog-text h5 {
    color: #fff;
}
.blog-img{
    position: relative;
    overflow: hidden;
}
.blog-box:hover .blog-img:after{
    opacity: 0.5;
}
.blog-img:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6F89F0;
    opacity: 0;
}
.blog-text h5 {
    margin: 10px 0px 29px;
}

.blog-text > span {
    font-size: 16px;
    color: #000;
}
.blog-box:hover .blog-text > span{
    color: #FFFFFF;
}
.blog-sec .row > div{
    margin-bottom: 30px;
}
.drop-down {
    position: relative;
}

.drop-toggle {
    display: inline-block;
}

.drop-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #102079;
    width: 140px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
}

.drop-menu .drop-items {
    display: block;
    color: #fff;
    padding: 10px 10px 7px;
    font-size: 14px;
}
.drop-down:hover .drop-menu {
    opacity: 1;
    visibility: visible;
}
.drop-down:hover .cus-drop i{
    transform: rotate(180deg);

}
.privacy-text {
    padding-bottom: 48px;
}

.priv-text {
    padding-bottom: 30px;
}

.privacy-box:not(:last-child) {
    padding-bottom: 35px;
}

.blog-details-sec .blog-details-text span {
    color: #070742;
    margin-bottom: 23px;
    display: block;
}
.blog-details-sec .car-box-img {
    text-align: center;
    margin: 50px 0;
}
.blog-details-sec .text-wrapper {
    margin-bottom: 40px;
}
.blog-details-sec .share-box {
    display: flex;
    background: #F5F5F5;
    border: 1px solid #6F89F0;
    border-radius: 15px;
    max-width: 385px;
    justify-content: space-between;
    padding: 30px 42px;
    align-items: center;
}
.blog-details-sec .share-text h5 {
    margin: 0;
}
.blog-details-sec .share-icons i {
    margin-right: 20px;
    font-size: 16px;
}
.blog-details-sec .share-icons i:last-child {
    margin-right: 0;
    display: inline-block;
}
.blog-details-sec .share-box {
    padding: 20px;
}