<section class="signup-sec mb-256 p_130">
    <div class="container">
        <div class="signup-head text-center">
            <h2>Shipper Sign Up</h2>
            <div class="signup-wrapper">
                <p>Are you a carrier?</p>
                <a href="#" class="cta">Sign Up Here</a>
            </div>
        </div>
        <div class="steps-nav">
            <ul>
                <li class="nav_item active">
                    <span class="step-numb">1</span>
                    <span class="step-text">Personal Information</span>
                </li>
                <li class="nav_item">
                    <span class="step-numb">2</span>
                    <span class="step-text">Company Information</span>
                </li>
            </ul>
        </div>
        <div class="signup-step_wrapper">
            <form id="email-form" name="email-form">
                <div class="signup_step" id="step1">
                    <div class="sign-step-head text-left">
                        <p><strong>Personal Information</strong></p>
                        <p>All fields required</p>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="last Name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Mobile Number">
                        <span class="p-detail">By providing your phone number, you agree to receive text messages
                            from
                            MustDeliver. Message and data rates may apply. Message frequency varies. You can change
                            your
                            communication preferences or opt-out at any time.</span>
                    </div>
                    <div class="form-group">
                        <label class="custom-check" id="check1">
                            <input type="checkbox" for="check1">
                            <span class="check-box"></span>
                            Use mobile number as user name (instead of email address)
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirm Password">
                    </div>
                    <div class="step_footer">
                        <a href="#" class="cta next-btn">Next</a>
                    </div>
                </div>
                <div class="signup_step hidden" id="step2">
                    <div class="sign-step-head text-left">
                        <p><strong>Company Information</strong></p>
                        <p>All fields required</p>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Company Name">
                    </div>
                    <div class="form-group">
                        <input type="address" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Zip/Post Code">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Zip/Post Code">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="City">
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option value="1">State</option>
                            <option value="1">State</option>
                            <option value="1">State</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Have a promo code">
                    </div>
                    <div class="step_footer">
                        <div class="step_btns">
                            <a href="#" class="back-btn cta cta-light">Back</a>
                            <a href="#" class="cta">Register</a>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
