<footer class="site_footer">
    <div class="container">
        {{ $callUsBg := resources.Get "img/call-is-bg.png" }}
        <div class="cal_us_box" style="background-image: url('{{ $callUsBg.RelPermalink }}');">
        
        <div class="row call-row align-items-center">
          <div class="col-md-5 d-flex align-items-end dm-n">
            <div class="call-img">
                {{ $callUsBtn := resources.Get "img/call-us-btn.png" }}
                <img src="{{ $callUsBtn.RelPermalink }}" class="img-fluid" alt="callUsBtn">
            </div>
          </div>
          <div class="col-md-7 call-col">
            <h2>Sign Up for FREE Today!</h2>
            <p>Start shipping and haul with
              more confidence with
              MustDeliver</p>
              <div class="call_btn_wrapper">
                <a href="#" class="cta">Shippers</a>
                <a href="#" class="cta">Auto Haulers</a>
            </div>
          </div>
         
        </div>
      </div>
      <div class="menu-footer">
        <div class="row menu_row">
          <div class="col-lg-4 col-md-6 footer-col">
            {{ $footerLogo := resources.Get "img/footer-logo.png" }}
            <a href="#" class="footer-brand"><img src="{{ $footerLogo.RelPermalink }}"></a>
            <p>MustDeliver's operating focus is in the US <br> and Canada.</p>

            <div class="folow">
              <h6>Follow us</h6>
              <ul class="social-link">
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 footer-col">
            <h6>For Carriers</h6>
            <ul class="footer_menu">
              <li><a href="#">Carrier Overview </a></li>
              <li><a href="#"> Google Play Download</a></li>
              <li><a href="#">Apple Store Download</a></li>
              <li><a href="#">FAQs</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-col">
            <h6>For Shippers</h6>
            <ul class="footer_menu">
              <li><a href="#">Shipper Overview</a></li>
              <li><a href="#">Sign-Up Now </a></li>
              <li><a href="#">Shipper FAQs</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-col">
            <h6>Contact MustDeliver</h6>
            <b>Phone:</b> <br>
            1 833 933 1833 <br>

            <span class="pt-5 d-block"> <b>Email:</b> <br>
              (Carrier): carrier@mustdeliver.com <br>
              (Shipper): shipper@mustdeliver.com
            </span>
            </p>
            <ul class="footer_menu">
              <li><a href="#">Careers</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mid-footer">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <h6>One truck, one driver – download the free mustdeliver
              driver app:</h6>
          </div>
          <div class="col-lg-5 col-md-6">
            <div class="play-img">
                {{ $footerPlay := resources.Get "img/footer-play.png" }}
                <img src="{{ $footerPlay.RelPermalink }}" class="img-fluid" alt="footer-play">
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="ploicy-links">
              <a href="#">Privacy Policy</a>
              <a href="#">Terms of Service</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copy-write text-center">
      <p>© 2023 MustDeliver. All rights reserved.</p>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
  integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://alexandrebuffet.fr/codepen/slider/slick-animation.min.js"></script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
{{ $scriptJs := resources.Get "js/script.js" }}
<script src="{{ $scriptJs.RelPermalink }}"></script>
