<header class="header_wrapper ">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 head-col">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">
                {{ $logo := resources.Get "img/site-logo.png" }}
              <img src="{{ $logo.RelPermalink }}" class="img-fluid" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <div class="bars bar1"></div>
              <div class="bars bar2"></div>
              <div class="bars bar3"></div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto">
                {{ range .Site.Params.mainMenu }}
                <li class="nav-item{{ if .active }} active{{ end }} drop-down">
                  <a class="nav-link" href="{{ .url }}">{{ .name }}</a>
                  {{ if .subitems }}
                  <span class="cus-drop"><i class="fa-solid fa-angle-down"></i></span>
                  <div class="drop-menu">
                    {{ range .subitems }}
                    <a href="{{ .url }}" class="drop-items">{{ .name }}</a>
                    {{ end }}
                  </div>
                  {{ end }}
                </li>
                {{ end }}
              </ul>
              <form class="form-inline">
                <button class="btn btn-light" type="submit">Sign Up</button>
                <button class="btn btn-primary" type="submit">Login</button>
              </form>
            </div>
            
          </nav>
        </div>
      </div>
    </div>
  
  </header>
  