<section class="banner_wrapper">
  <div class="banner_content text-center">
    <h1>{{ .Title }}</h1>
    <p>{{ .Params.subtitle }}</p>
    <p> {{ .Params.banner_img }} </p>
  </div>
  <div class="banner_img">
    {{ $cloud := resources.Get "img/cloud.svg" }}
    <div class="background-clouds" style="background-image: url('{{ $cloud.Permalink }}');"></div>
    <div class="bg_cloud">
      
      {{ $bannerBg := resources.Get "img/banner-bg.svg" }}
      <img src="{{ $bannerBg.Permalink }}" class="img-fluid" alt="">
    </div>
    <div class="bus_wreap">
      {{ $bus := resources.Get "img/bus.svg" }}
          <img src="{{ $bus.Permalink }}" class="img-fluid" alt="">
    </div>
    <div class="bg_rotate">
      {{ $bannerLine := resources.Get "img/line-1.svg" }}
  <div class="background-line" style="background-image: url('{{ $bannerLine.Permalink }}');"></div>

    </div>
  </div>
</section>
